
{% load static %}
<!DOCTYPE html>
<html calss="no-js" lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{title}}</title>
<link rel="stylesheet" href="{% static "css/foundation.css" %}">
<link rel="stylesheet" href="{% static "css/app.css" %}">


</head>
<body>

<nav class="hover-underline-menu" data-menu-underline-from-center>
  <ul class="menu align-left">
    <li><a href="/">Home</a></li>
  </ul>
</nav>

<!--{% block title %}Login{% endblock %}-->
<div class="grid-x grid-padding-x">
  <div class="large-4 medium-4 small-12 large-offset-4 medium-offset-4 cell">
    <h3 class="text-center">Login</h3>
    <form action="/login/" method="post">
        {% csrf_token %}

        {{ form.errors }}
        <label>{{ form.username.label_tag }}</label>
        {{ form.username }}
        <label>{{ form.password.label_tag }}</label>
        {{ form.password }}
        <input type="submit" class="button expanded" value="Login" />
        <a href="/register/" class="secondary button expanded">Register</a>
        <input type="hidden" name="next" value="{{ request.GET.next }}" />
    </form>
  </div>
</div>

<script src="{% static "js/vendor/jquery.js" %}"></script>
<script src="{% static "js/vendor/what-input.js" %}"></script>
<script src="{% static "js/vendor/foundation.js" %}"></script>
<script src="{% static "js/app.js" %}"></script>


</body>
</html>
