{% load static %}
<!DOCTYPE html>
<html calss="no-js" lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{title}}</title>
<link rel="stylesheet" href="{% static "css/foundation.css" %}">
<link rel="stylesheet" href="{% static "css/app.css" %}">

{% block css %}
{% endblock %}

</head>
<body>

<nav class="hover-underline-menu" data-menu-underline-from-center>
  <ul class="menu align-left">
    <li><a href="/">Home</a></li>
    {% block list %}
    {% endblock %}
    <li><a href="{{ add }}">Add</a></li>
    {% if user.is_authenticated %}
    <li class="userRight"><a >Hi, {{user.username}}</a></li>
    <li class="loginRight"><a href="{{ logout }}">Logout</a></li>
    {% else %}
    <li class="loginRight"><a href="{{ login }}">Login</a></li>
    {% endif %}

  </ul>
</nav>

<!--
<a href = "/" >
<button type="submit" class="button">Home</button>
</a>
-->

{% block content %}
{% endblock %}

<script src="{% static "js/vendor/jquery.js" %}"></script>
<script src="{% static "js/vendor/what-input.js" %}"></script>
<script src="{% static "js/vendor/foundation.js" %}"></script>
<script src="{% static "js/app.js" %}"></script>

{% block scripts %}
{% endblock %}


</body>
</html>
