{% extends "base.html" %}

{% block content %}

<!--
<a href= {{ addRecipeUrl }} >
<button type="submit" class="button">Add</button>
</a>
-->

<h1 class="text-center">{{ opener }}</h1>
<!-- Basic image with name implementation, need to modify to work for us
	already added CSS code for this
	Found here: https://foundation.zurb.com/building-blocks/blocks/image-hover-wrapper.html

<div class="image-hover-wrapper">
  <span class="image-hover-wrapper-banner">Old Junky Bikes</span>
  <a href="#"><img src="https://images.pexels.com/photos/163704/bike-old-wheel-two-wheeled-vehicle-163704.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb">
    <span class="image-hover-wrapper-reveal">
      <p>Check it<br><i class="fa fa-link" aria-hidden="true"></i></p>
    </span>
  </a>
</div>


Could possibly also use this:
 https://foundation.zurb.com/building-blocks/blocks/3-up-image-block.html


-->




{% endblock %}
