{% extends "base.html" %}


{% block content %}

<h1 class="text-center">{{ opener }}</h1>

<!-- Basic image with name implementation, need to modify to work for us
	already added CSS code for this
	Found here: https://foundation.zurb.com/building-blocks/blocks/image-hover-wrapper.html
-->

	{% for o in recipeList %}
	<div class="row">
<div class="columns large-12 medium-12 small-12">
<div class="image-hover-wrapper">
	<span class="image-hover-wrapper-banner">{{ o.recipeName}}</span>
	<a href="{{ review }}" class="image-resize"><img src=media/{{ o.foodImage }}>
    <span class="image-hover-wrapper-reveal">
    <p>{{ o.recipeDescription }}<br><i class="fa fa-link" aria-hidden="true"></i></p>
    </span>
  </a>
</div>
</div>
</div>

	{% endfor %}

<!--
Could possibly also use this:
 https://foundation.zurb.com/building-blocks/blocks/3-up-image-block.html


-->




{% endblock %}
