{% extends "base.html" %}


{% block content %}

<h1 class="text-center">{{ opener }}</h1>

<!-- Basic image with name implementation, need to modify to work for us
	already added CSS code for this
	Found here: https://foundation.zurb.com/building-blocks/blocks/image-hover-wrapper.html
-->

	{% for o in recipeList %}
<div class="row">
	<div class="columns large-4 medium-4 small-4">
		<div class="image-hover-wrapper">
			<span class="image-hover-wrapper-banner">{{ o.recipeName}}</span>
			<a href="{{ view }}{{o.id}}" class="image-resize"><img class="image-resize" src=media/{{ o.foodImage }}>
    			<span class="image-hover-wrapper-reveal">
    			<p>{{ o.recipeDescription }}<br><i class="fa fa-link" aria-hidden="true"></i></p>
   			 </span>
  			</a>
		</div>
	</div>
</div>

	{% endfor %}



{% endblock %}
