{% extends "base.html" %}

{% block content %}


<h1 class="text-center">{{ opener }}</h1>


<img class="view-image" src={{BASE_DIR}}/media/{{ Recipe.foodImage }}>

<h3 class="text-center"> {{ Recipe.recipeName }} </h3>
<p class="text-center"> {{ foodCategory }} </p>
<p class="text-center"> {{ Recipe.recipeDescription }} </p>


<p class="text-center"> {{ Recipe.recipeDirections }} </p>
{% if ing_list %}
<p class="text-center">Ingredients: </p>
        <ul>
	{% for o in ing_list %}

	<li class="text-center">{{o.ingredient}} {{o.amount}}</li>

	{% endfor %}
        <ul>
{% endif %}

<a href={{Recipe.recipeUrl}} target="_blank" class="text-center">{{Recipe.recipeUrl}}</a>

<div class="text-center">
<a href="/review/{{reci_id}}/" class="button">Add Review</a>
</div>

<h3>Reviews</h3>
{% if rev_list %}
	{% for o in rev_list %}

<div class="testimonial-block-vertical">
  <div class="testimonial-block-vertical-quote">
	  <h5>Rating: {{o.rating}}</h5>
	<p>{{o.review}}</p>
  </div>
  <div class="testimonial-block-vertical-person">
    <div>
	    <p class="testimonial-block-vertical-name">{{o.author}}</p>
    </div>
  </div>
</div>
<p></p>
	{% endfor %}
{% else %}
<div class="testimonial-block-vertical">
  <div class="testimonial-block-vertical-quote">
	<p>Be the first to submit a review!!</p>
  </div>
</div>
<p></p>
{% endif %}

{% endblock %}
